*{
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  color: #fff;
  
}
body{
  background-color: #02010a;

}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  float: right;
  width: 100%;
}
h1{
  color: white;
<<<<<<< HEAD
  text-shadow: 2px 2px 2px #02010a;
  margin: 10px;


}
nav{
    width: 50%;
    float: right;
}
ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  text-align: center;

=======
  text-shadow: 2px 2px 1px #02010;
  
}
li{
  float: right;
  word-spacing: 10px;
  text-decoration: none;
>>>>>>> 8bce75aeea77bc46f8c5b55dd3a811f066c7e0c1
}
