*{
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  color: #fff;
}
body{
  background-color: #02010a;

}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  float: right;
  width: 100%;
}
h1{
  color: white;
  text-shadow: 2px 2px 1px #02010;
  
}
li{
  float: right;
  word-spacing: 10px;
  text-decoration: none;
}
